<div class="calc">
    <input type="text" class="calc__input">
    <div class="calc__buttons">
        <div class="calc__numbers">
            <button class="button">7</button>
            <button class="button">8</button>
            <button class="button">9</button>
            <button class="button">4</button>
            <button class="button">5</button>
            <button class="button">6</button>
            <button class="button">1</button>
            <button class="button">2</button>
            <button class="button">3</button>
            
            
            <button class="button-equal" onclick="o2.equalClick()">=</button>
            <button class="button">.</button>
            <button class="button">0</button>
           
        </div>   
        <div class="calc__operands">
            <button class="button">+</button>
            <button class="button">-</button>
            <button class="button inc">*</button>
            <button class="button">/</button>                  
        </div>
    </div>
    <div class="clear">C</div>  
</div>