<div class="form__wrapper">
	<div class="form__top">
		<span class="form__text-bold form__company">Компания:</span>
		<span class="form__requisites-btn">прикрепить реквизиты</span>
	</div>
	<input type="text" class="form__input" placeholder="ООО “Пилот” РБС">
	<p class="form__text">
		<span class="form__text-bold">ИНН:</span>
		7726527350
	</p>
	<p class="form__text">
		<span class="form__text-bold">ОКВЭД:</span>
		Торговля оптовая компьютерами, периферийными устройствами
		к компьютерам и программным обеспечением код 46.51 по справочнику 2014 года
	</p>
	<p class="form__text">
		<span class="form__text-bold">Адрес:</span>
		117105, г. Москва, нагорный проезд, д. 12 к 3 стр 2
	</p>
	<p class="form__text">
		<span class="form__text-bold">Генеральный директор:</span>
		Косарева Юлия Александровна
	</p>
	<p class="form__text">
		<span class="form__text-bold">Количество сотрудников:</span>
		120
	</p>

	<div class="form__contacts">
		<div class="form__contacts-label">Контактная информация:</div>
		<div class="form__contacts-inputs">
			<div class="input-wrap">
				<input type="text" placeholder="Имя*">
				<div class="error">Поле не заполнено</div>
			</div>
			<div class="input-wrap">
				<input type="text" placeholder="Фамилия*">
				<div class="error">Поле не заполнено</div>
			</div>
			<div class="input-wrap">
				<input type="text" placeholder="E-mail*">
				<div class="error">Поле не заполнено</div>
			</div>
			<div class="input-wrap">
				<input type="text" placeholder="Телефон*">
				<div class="error">Поле не заполнено</div>
			</div>
			{{formElem}}
			<div class="input-wrap">
				<input type="text" placeholder="Телефон*">
			</div>
	</div>
</div>